@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;

  font-family: "Fira Code"
}

body {
  --bg-col:   #2f2f2f;
  --text-col: white;
  
  color:            var(--text-col);
  background-color: var(--bg-col);
}
