.in1 {
    background-color: var(--bg-col);
    color:            var(--text-col);

    border-radius: 0;
    border-bottom: 2px solid blue;

    transition: all 200ms linear;

    &:focus-visible {
        outline: none;
        border-bottom: 2px solid red;
    }
}

.titleContainer {
    height: 100vh !important;
    width: 100dvw;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    width: calc( 4em + 6em + 7em );
    height: 50vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    font-size: 3rem;

    background-color: rgba( 25, 25, 25, 0.2 );

    backdrop-filter: blur( 6rem );
    -webkit-backdrop-filter: blur( 6rem );

    border-radius: 0 2rem 2rem 0;
    border: whitesmoke 2px solid;
    border-left: none;

    box-shadow: black 0px 0px 160px;

    & > * {
        padding-left: 2rem;
        padding-right: 4rem;
        padding-inline: 1rem;
    }

    & > .leftPad {
        font-size: 1rem;
        padding-left: 6rem;
    }

}

.page1 {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: rgb(150, 0, 0);
    
    position: relative;
}

.gradientTransition {
    position: absolute;
    height: 25vh;
    width: 100vw;
    top: -25vh;

    /* background-color: beige; */

    background-color: linear-gradient(
        to top,
        rgba( 150, 0, 0, 1 ),
        rgba( 150, 0, 0, 0 )
    );
}

.page2 {
    height: 100vh;
    width: 100vw;

    /* translate: 0, -100%; */

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: rgb(200, 0, 0);

    position: relative;
}

.placeholderDiv {
    height: 100vh;

    position: absolute;
    top: 100vh;
    left: 0;

    background-color: rgb(255, 0, 0);
}
