.in1 {
    background-color: var(--bg-col);
    color:            var(--text-col);

    border-radius: 0;
    border-bottom: 2px solid blue;

    transition: all 200ms linear;

    &:focus-visible {
        outline: none;
        border-bottom: 2px solid red;
    }
}

.titleContainer {
    height: 100dvh;
    width: 60dvw;

    display: flex;
    flex-direction: column;
    justify-content: center;

    & > * {
        padding-left: 4rem;
    }

    & > h1 {
        font-size: 5rem;
        color: green;
    }

    & > p, .leftPad {
        padding-left: calc( 4rem + 4rem );
        color: turquoise;
    }
}
